<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization with Hugging Face Transformers</title>
  </head>
<body>
  <div class="header">
    <h1>Text Summarizer</h1>
  </div>
  <div class="box">
    <p>Paste text into the top box and click summarize. Summarized text will be shown in the bottom box.</p>
    <form action="{{url_for('Summarize')}}" method="post">
        <textarea name="data" id="input-area" placeholder="Enter Text To Summarize..."></textarea>

        <!-- <button type="reset">Clear</button>
        <button type="submit">Summarize</button> -->


        <textarea name="result" id="output-area" placeholder="Summarized Text...">{{result}}</textarea>
        <div id="button-container">
        <button type="submit" class="button" onclick="Check()">Summarize</button>
        <button type="reset" class="button">Clear</button>
        <!--<button class="button" onclick="myFunction()">Copy</button>-->
        <!-- <input type="range" min="20" max="300" name="MaxL" value="100"> -->
        <br><br><p>Choose Summary Length
        <input type="range" min="20" max="1000" name="MaxL" class="slider"></br></br></p>

        </div>
    </form>
  </div>
  <script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("output-area");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
    }
</script>
<script>
    function Check() {

        var reg = /<(.|\n)*>/g;

        if (reg.test(document.getElementById("input-area").value) == true) {
            var ErrorText = 'Make Sure You Provide Valid Data.';
            alert('Error Text');

        }
    }
</script>

<div class="wrapper">
    <div class="content">
        <p><a href="https://github.com/vinazol/text-summarization-huggingface">GitHub Repo</a> </p>
    </div>
    <div id="footer">
        <p> Veena Solomon | <a href="https://github.com/vinazol">GitHub | <a href="https://linkedin.com/in/vinazol">LinkedIn</a></p>
    </div>
</div>

</body>
</html>
